<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<!--<div class="" ng-app="">
			<input type="text" ng-model="name" /> Hello {{name}}
		</div>
		<hr />-->
		<div class="" ng-app="myApp" ng-controller="myController" ng-init="num1=2;num2=3;str1='Jhon';str2='Doe'">			
			<div>
				名：<input type="text" ng-model="firstName" /><br /> 
				姓：<input type="text" ng-model="lastName" /><br />
				姓名：{{firstName+" "+lastName}}<br />
				表达式结果1：{{num1 * num2}}<br />
				表达式结果2：<span ng-bind="str1 + ' ' + str2"></span>
			</div>
			<div>
				<p>使用ng-repeat来循环数组</p>
				<ul>
					<li ng-repeat="item in items">{{item}}</li>
				</ul>
			</div>
			<div>
				<p>创建自定义指令</p>
				元素名调用：<my-directive></my-directive>
				属性调用：<div my-directive></div>
				类名调用(需设置restrict : "C")：<div class="my-directive"></div>
				注释调用 (需设置restrict : "M",replace : true)：<!--directive:my-directive-->
			</div>
		</div>
		<script type="text/javascript">
			var app = angular.module("myApp", []);
			app.controller("myController", function($scope) {
				$scope.firstName = "";
				$scope.lastName = "";
				$scope.items = ["item1","item2","item3"];
			});
			app.directive("myDirective",function(){
				return{
					template:"<h4 style='color:red;'>自定义指令</>"
				}
			});
		</script>
	</body>

</html>